<div class="header-container">
    <div class="logo-container">
        <a href="javascript:void(0)" (click)="toggleSidebar()" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="javascript:void(0)">School Name</a>
    </div>
</div>

<div class="header-container">
    <nb-actions size="small">        
        <nb-action class="control-item" icon="bell-outline"></nb-action>
        <nb-action class="user-action">
            <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.name"
                [picture]="user?.picture">
            </nb-user>
        </nb-action>
    </nb-actions>
</div>